@import url("https://fonts.googleapis.com/css?family=Roboto:300&display=swap");
.intro {
  background-image: url("./assets/images/intro-img.jpg");
  background-repeat: no-repeat;
}
.intro h2 {
  padding: 15px;
  color: #523688;
  text-transform: uppercase;
  font-family: roboto, sans-serif;
}
.intro h1 {
  font-size: 5em;
  color: #fff;
  padding: 0px 25px;
  text-transform: uppercase;
}
.intro p {
  font-family: roboto, sans-serif;
  padding: 30px;
}
