@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

$primary-colour: #6b47b3;

.header {
    // background-image: url("https://picsum.photos/700/400");

    // background-size: 700px;
    background: url("../assets/images/bg-head_01.jpg");
    background-repeat: no-repeat;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    @media (max-width: 500px) {
        background-position-x: -150px
    }

    width: 100%;

    position: relative;
    min-height: 100vh;

    img {
        max-width: 100%;
        z-index: 20;
    }

    h3 {
        font-family: roboto, sans-serif;
        font-weight: 500;
        font-size: 2.2vw;
        color: $primary-colour;
        text-transform: uppercase;
        margin: 0;

        @media (max-width: 768px) {
            font-size: 1.25em
        }

        span {
            font-weight: 400;
        }
    }

    .overlay {
        min-width: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 30;
        position: absolute;



        .header-line-bottom {
            font-weight: 400;
        }

        svg {
            margin: 10px 0px;
        }

    }
}



.panel-about {
    background-image: url("../assets/images/squiggle-grey.svg");
    background-repeat: no-repeat;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 800px;
    max-height: 100vh;
    overflow: hidden;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        min-width: 100%;
        position: absolute;
        opacity: 0.2;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }

    h2 {
        position: absolute;
        max-width: 700px;
        padding: 5px;

        color: #424242;
        font-family: roboto, sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        span {
            opacity: 0.6;
        }
    }
}

.link {
    position: absolute;
    bottom: 5px;
    left: 50%;
    i {
        color: $primary-colour;
    }

    a {
        color: #523688;
        text-transform: uppercase;
        cursor: pointer;
    }
}

/* Mobile styles */
@media (max-width: 768px) {
    .header {
        background-position: center center;
        .overlay {
            .header-line-top {
                text-align: center;
                opacity: 0.75;
                position: relative;
                top: -16vh;
            }
            .header-line-bottom {
                text-align: center;
                opacity: 0.75;
                position: relative;
                bottom: -10vh;
            }
            svg {
                margin: 150px 0px 25px 0px;
                position: relative;
                bottom: -10vh;
            }
        }   
    }

    .panel-about {
        h2 {
            font-size: 1em;
            padding: 5px 30px;
        }
    }
}