@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

$primary-colour: #6b47b3;

.header {
    // background-image: url("https://picsum.photos/700/400");

    // background-size: 700px;
    background: url("../assets/images/bg-head_01.jpg");
    background-repeat: no-repeat;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    @media (max-width: 500px) {
        background-position-x: -150px
    }

    width: 100%;

    position: relative;
    min-height: 100vh;

    img {
        max-width: 100%;
        z-index: 20;
    }

    h3 {
        font-family: roboto, sans-serif;
        font-weight: 500;
        font-size: 2.2vw;
        color: $primary-colour;
        text-transform: uppercase;
        margin: 0;

        @media (max-width: 768px) {
            font-size: 1.25em
        }

        span {
            font-weight: 400;
        }
    }

    .overlay {
        min-width: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 30;
        position: absolute;



        .header-line-bottom {
            font-weight: 400;
        }

        svg {
            margin: 10px 0px;
        }

    }
}

@media (max-width: 768px) {
    .header {
        .overlay {
            .header-line-top {
                text-align: center;
                opacity: 0.75;
                
            }
            .header-line-bottom {
                text-align: center;
            }
            svg {
                margin: 150px 0px 25px 0px;
            }
        }
        
    }

}

.link {
    position: absolute;
    bottom: 5px;
    left: 50%;
    display: flex;
    justify-content: center;

    i {
        color: $primary-colour;
    }

    a {
        color: #523688;
        text-transform: uppercase;
    }
}